h1{
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
}
.nav-item{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: indigo;
    color: crimson;
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

